<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<body>

	<span layout:fragment="pageTitle"> - Uczniowie </span>

	<div layout:fragment="content">
		<div th:include="menuFragment"></div>
		<br /> <Br />
		<table border="1" cellpadding="5">
			<tr>
				<th>Id</th>
				<th>Imie</th>
				<th>Nazwisko</th>
				<th>PESEL</th>
				<th>Klasa</th>
				<th>Szkoła</th>
				<th>Akcje</th>
			</tr>
			<tr th:each="student: ${studentsListFromDB}">
				<td><span th:text="${student.Value0.id}" /></td>
				<td><span th:text="${student.Value0.name}" /></td>
				<td><span th:text="${student.Value0.surname}" /></td>
				<td><span th:text="${student.Value0.pesel}" /></td>
				<td><span th:text="${student.Value1?.profile}" /></td>
				<td><span th:text="${student.Value2?.name}" /></td>
				
				<td style="padding: 0px; ">
					<form action="/DeleteStudent" method="POST" style="margin : 0px">
						<input type="hidden" name="studentId" th:value="${student.Value0.id}" />
						<button type="submit" style="width: 100%; height: 25px; margin: 0px; padding: 0px">X</button>
					</form>
					<form action="/EditStudent" method="POST" style="margin : 0px">
						<input type="hidden" name="studentId" th:value="${student.Value0.id}" />
						<button type="submit" style="width: 100%; height: 25px; margin: 0px; padding: 0px">Edit</button>
					</form>
				</td>
			</tr>


		</table>
		<br /> <a href='/AddStudent'>dodaj ucznia</a><br /> <br />

	</div>

</body>
</html>